body,html{
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
}
.serch_panel{
    width: 1000px;
    border: black solid 1px;
}
.serch_panel_info{
    height: 50px;
}
.field{
    width: 160px;
    height: 25px;
}
.btn{
    width: 80px;
    height: 30px;
    border: 1px solid #60707F;
    color: #86826C;
    background-color: #fbfbfb;
    border-color: orange;
}
.fbdbtn{
    width: 80px;
    height: 30px;
    border: 1px solid #60707F;
    color: #86826C;
    background-color: #fbfbfb;
    border-color: orange;
}


.user_panel {
    width: 98%;
}
.user_panel_title {
    background-color:
            #60707F;
    color:
            #E4E4E4;
    font-size: 14px;
    height: 35px;
}
.user_panel_info {
    font-size: 14px;
    color:
            #888888;
    height: 35px;
}
