body {
    margin:0;
    padding:0;
    font-family:"微软雅黑","Microsoft YaHei","SimHei","Simsun"
}
a,
a:visited,
a:hover,
a:active {
    text-decoration:none;
    color:#333;
    outline:none;
    blr:expression(this.onFocus=this.blur())
}
ul,
ol {
    list-style:none;
    margin:0;
    padding:0
}
img {
    vertical-align:middle;
    outline:none;
    border:none
}
i {
    font-style:normal
}
b {
    font-weight:normal
}
input {
    outline:none;
    vertical-align:middle
}
.backbg {
    background-repeat:no-repeat
}
table {
    border-collapse:collapse;
    border-width:0
}
table,
table tr,
table td,
table th {
    margin:0;
    padding:0;
    border-spacing:0
}
.div960 {
    width:960px;
    margin:auto
}
.div960:after {
    content:"";
    display:block;
    width:100%;
    height:0;
    clear:both
}
.clearfix {
    clear:both
}
.justify {
    font-size:0;
    text-align:justify;
    text-justify:distribute-all-lines
}
.justify:after {
    content:"";
    height:0;
    width:100%;
    display:inline-block;
}
.fot_bottom {
    position:absolute;
    left:0;
    bottom:0
}
.untop {
    width:100%;
    height:70px
}
.untop .menu {
}
.untop .menu li {
    line-height:70px;
    position:relative
}
.untop .menu .logo {
    float:left;
    margin-left:30px;
    width:170px;
    height:70px;
    cursor:pointer
}
.untop .menu .title {
    float:left;
    color:#566473;
    font-size:30px;
    line-height:66px;
    font-weight:bold;
    margin-left:30px
}
.untop .menu .item {
    float:right;
    margin-right:10px;
    margin-left:-10px
}
.untop .menu .item a {
    display:inline-block;
    *display:inline;
    *zoom:1;
    padding:4px 10px 4px 10px;
    line-height:30px;
    border:#fff solid 1px;
    position:relative;
    z-index:5
}
.untop .menu .hasnext:hover ul {
    display:block
}
.untop .menu .hasnext:hover a {
    background-color:#f3f3f3;
    border-color:#ddd;
    border-bottom-color:#f3f3f3
}
.untop .menu ul {
    position:absolute;
    top:54px;
    right:0;
    background-color:#f3f3f3;
    z-index:4;
    border:#ddd solid 1px;
    border-bottom:none;
    display:none
}
.untop .menu ul li {
    line-height:normal;
    padding:20px;
    border-bottom:#ddd solid 1px;
    background-color:#f3f3f3;
    cursor:pointer
}
.untop .menu ul li span {
    display:block;
    padding-left:100px;
    height:90px
}
.untop .menu ul li span img {
    position:absolute;
    left:20px;
    top:20px;
    width:90px;
    height:90px
}
.untop .menu ul li span b {
    display:block;
    width:70px;
    font-size:14px;
    color:#999;
    text-align:left;
    margin-bottom:5px
}
.untop .menu ul li span i {
    display:block
}
.untop .menu ul li span i.wapln_wx {
    height:20px;
}
.untop .menu ul li span i.wapln_app {
    height:30px;
}
.unmid {
    width:100%;
    height:600px;
    position:relative
}
.unmid .menu {
    width:100%;
    height:100%;
    position:relative
}
.unmid .menu li {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%
}
.unmid .menu li a {
    display:block;
    width:100%;
    height:100%;
    text-align:center
}
.unmid .menu li .img1 {
}
.unmid .menu li .img2 {
}
.unmid .menu li .img3 {
}
.unmid .log {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%
}
.unmid .log .fra {
    width:960px;
    margin:auto;
    height:100%;
    position:relative
}
.unmid .log .fra .loin {
    width:320px;
    height:474px;
    background-color:#eff2f5;
    top:62px;
    right:0;
    border:#bbb solid 1px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    filter:alpha(opacity=85);
    -moz-opacity:.85;
    -khtml-opacity:.85;
    opacity:.85;
    position:absolute;
    z-index:2
}
.unmid .log .fra .loin .loin_hd {
    width:100%;
    height:54px;
    border-bottom:#bbb solid 1px;
    background-color:#d3e8f2;
    border-radius:5px 5px 0 0;
    -moz-border-radius:5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0;
}
.unmid .log .fra .loin .loin_hd b {
    font-size:18px;
    font-weight:bold;
    line-height:54px;
    color:#2d2d2d;
    padding-left:20px
}
.unmid .log .fra .loin .loin_hd i {
    color:#5f5f5f;
    padding-left:10px;
    font-size:12px
}
.unmid .log .fra .loin .loin_bd {
}
.unmid .log .fra .loin .loin_bd label {
    display:block;
    width:252px;
    height:42px;
    margin:30px auto 0 auto;
    position:relative
}
.unmid .log .fra .loin .loin_bd label input {
    display:block;
    font-size:14px;
    color:#acb5a0;
    padding:0 10px;
    height:40px;
    line-height:40px\9;
    *line-height:40px;
    border:#b7c4b0 solid 1px;
    position:relative;
    z-index:1
}
.unmid .log .fra .loin .loin_bd label.name input,
.unmid .log .fra .loin .loin_bd label.pass input {
    width:230px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px
}
.unmid .log .fra .loin .loin_bd label.name input.on,
.unmid .log .fra .loin .loin_bd label.pass input.on,
.unmid .log .fra .loin .loin_bd label.code input.on {
    color:#5995b3;
    border-color:#5995b3
}
.unmid .log .fra .loin .loin_bd label.pass input.pass_false {
    position:absolute;
    top:0;
    left:0;
    *top:1px;
    z-index:2
}
.unmid .log .fra .loin .loin_bd label.pass input.pass_false.on {
    display:none
}
.unmid .log .fra .loin .loin_bd label.code input {
    float:left;
    width:70px;
    border-radius:5px 0 0 5px;
    -moz-border-radius:5px 0 0 5px;
    -webkit-border-radius:5px 0 0 5px;
    text-align:center
}
.unmid .log .fra .loin .loin_bd label.code a {
    background-color:#e8eef9;
    color:#5995b3;
    float:left;
    height:40px;
    line-height:40px;
    border:#b7c4b0 solid 1px;
    border-left:none;
    padding:0 10px;
    border-radius:0 5px 5px 0;
    -moz-border-radius:0 5px 5px 0;
    -webkit-border-radius:0 5px 5px 0
}
.unmid .log .fra .loin .loin_bd label.code a:hover {
    background-color:#d6f9f4;
    color:#388e67
}
.unmid .log .fra .loin .loin_bd label.code img {
    width:55px;
    height:40px;
    float:right
}
.unmid .log .fra .loin .loin_bd label.save {
    height:26px;
    line-height:26px;
    font-size:12px;
    color:#777
}
.unmid .log .fra .loin .loin_bd label.save input {
    position:absolute;
    top:-45px;
    width:1px;
    height:1px
}
.unmid .log .fra .loin .loin_bd label.save span {
    position:relative;
    float:left;
    margin-right:10px;
    width:62px;
    height:22px;
    line-height:21px;
    border:#fff solid 2px;
    border-radius:11px;
    -moz-border-radius:11px;
    -webkit-border-radius:11px;
}
.unmid .log .fra .loin .loin_bd label.save span b {
    float:left;
    width:60px;
    height:20px;
    background-color:#e74b3d;
    color:#911904;
    text-align:left;
    text-indent:27px;
    line-height:20px;
    border:#b6a39d solid 1px;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px
}
.unmid .log .fra .loin .loin_bd label.save span i {
    position:absolute;
    top:0;
    left:-40px;
    width:60px;
    height:20px;
    background-color:#a0cd3f;
    color:#617c24;
    line-height:20px;
    text-align:left;
    border:#b6a39d solid 1px;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    text-indent:12px
}
.unmid .log .fra .loin .loin_bd label.save span i em {
    position:absolute;
    top:-1px;
    right:-1px;
    width:20px;
    height:20px;
    background-color:#dbdad9;
    color:#94574a;
    border:#858a8c solid 1px;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    cursor:pointer
}
.unmid .log .fra .loin .loin_bd label.logn a {
    display:block;
    width:250px;
    height:40px;
    text-align:center;
    background-color:#3f8ee3;
    line-height:40px;
    border:#16698d solid 1px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    color:#fff
}
.unmid .log .fra .loin .loin_bd label.logn a:hover {
    background-color:#52a731;
    border-color:#316a1b
}
.unmid .log .fra .loin .loin_ft {
    width:250px;
    margin:auto;
    margin-top:20px;
    height:25px;
}
.unmid .log .fra .loin .loin_ft a {
    line-height:25px;
    font-size:12px;
    display:inline-block;
    *display:inline
}
.unmid .log .fra .loin .loin_ft a b.forgetpass {
    display:inline-block;
    width:20px;
    height:20px;
    background-position:-450px 0;
    vertical-align:-5px;
    *vertical-align:-2px
}
.unmid .log .fra .loin .loin_ft a b.learnlog {
    display:inline-block;
    width:20px;
    height:20px;
    background-position:-270px 0;
    vertical-align:-7px;
    *vertical-align:0
}
.unmid .log .fra .fra_tip {
    background-color:#eff2f5;
    position:absolute;
    left:0;
    width:960px;
    height:590px;
    top:-610px;
    filter:alpha(opacity=90);
    -moz-opacity:.9;
    -khtml-opacity:.9;
    opacity:.9;
    z-index:1
}
.unmid .log .fra .fra_tip table {
    width:100%;
    height:100%
}
.unmid .log .fra .fra_tip table td {
    vertical-align:top
}
.unmid .log .fra .fra_tip table .untblt {
    width:290px;
    background-color:#2a80b9
}
.unmid .log .fra .fra_tip table .untblt span {
    display:block;
    color:#0f3e5d;
    line-height:50px;
    padding:0 30px;
    font-weight:bold
}
.unmid .log .fra .fra_tip table .untblt a {
    display:block;
    line-height:50px;
    padding:0 30px;
    color:#fff;
    font-size:14px
}
.unmid .log .fra .fra_tip table .untblt a.on {
    background-color:#3598db
}
.unmid .log .fra .fra_tip table .untblt a b {
    display:block;
    float:left;
    width:25px;
    height:20px;
    margin-top:15px;
    background-repeat:no-repeat;
    margin-right:10px
}
.unmid .log .fra .fra_tip table .untblt a b.show1 {
    background-position:-760px -360px
}
.unmid .log .fra .fra_tip table .untblt a b.show2 {
    background-position:-785px -360px
}
.unmid .log .fra .fra_tip table .untbrt {
    height:40px
}
.unmid .log .fra .fra_tip table .untbrt div {
    line-height:40px;
    font-size:12px;
    background-color:#2d3e50;
    color:#fff
}
.unmid .log .fra .fra_tip table .untbrt div b {
    float:left;
    width:20px;
    height:20px;
    margin:10px 5px 0 5px
}
.unmid .log .fra .fra_tip table .untbbt {
    height:550px;
    position:relative
}
.unmid .log .fra .fra_tip table .untbbt .show1 {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0
}
.unmid .log .fra .fra_tip table .untbbt .show1 .unli1 {
    display:block;
    height:100px;
    border-bottom:#999 solid 10px
}
.unmid .log .fra .fra_tip table .untbbt .show1 .unli1 span {
    float:left;
    width:70px;
    height:70px;
    margin:15px;
}
.unmid .log .fra .fra_tip table .untbbt .show1 .unli1 b {
    display:block;
    color:#566473;
    font-size:18px;
    font-weight:bold;
    line-height:40px;
    padding-top:15px
}
.unmid .log .fra .fra_tip table .untbbt .show1 .unli1 b b {
    color:#e74b3c;
    display:inline;
    padding-top:0
}
.unmid .log .fra .fra_tip table .untbbt .show1 .unli1 i {
    display:block;
    font-size:14px;
    color:#828f8f
}
.unmid .log .fra .fra_tip table .untbbt .show1 .unli1 i a {
    color:#2a80b9
}
.unmid .log .fra .fra_tip table .untbbt .show1 .unli2 {
    width:100%;
    height:430px;
}
.unmid .log .fra .fra_tip table .untbbt .show1 .unli2 ol {
    display:block;
    width:100%;
    border-bottom:#ddd solid 1px;
    float:left;
    padding-top:20px
}
.unmid .log .fra .fra_tip table .untbbt .show1 .unli2 ol li.o1 {
    float:left;
    width:80px;
    padding:10px 0 10px 10px
}
.unmid .log .fra .fra_tip table .untbbt .show1 .unli2 ol li.o1 img {
    display:block;
    width:70px;
    height:70px;
    margin-left:5px
}
.unmid .log .fra .fra_tip table .untbbt .show1 .unli2 ol li.o1 b {
    padding-top:5px
}
.unmid .log .fra .fra_tip table .untbbt .show1 .unli2 ol li.o1 b,
.unmid .log .fra .fra_tip table .untbbt .show1 .unli2 ol li.o1 i {
    display:block;
    font-size:12px;
    text-align:center;
    color:#7e7e7e
}
.unmid .log .fra .fra_tip table .untbbt .show1 .unli2 ol li.o2 {
    float:left;
    width:465px;
    padding:10px 0 10px 10px
}
.unmid .log .fra .fra_tip table .untbbt .show1 .unli2 ol li.o2 span {
    float:left;
    width:220px;
    margin:5px 0 5px 10px;
    font-size:12px;
    letter-spacing:.5px;
    white-space:nowrap;

    color:#7e7e7e
}
.unmid .log .fra .fra_tip table .untbbt .show1 .unli2 ol li.o3 {
    float:right;
    padding:10px;
    text-align:right;
    width:80px;
    position:relative;
    height:70px
}
.unmid .log .fra .fra_tip table .untbbt .show1 .unli2 ol li.o3 a {
    position:absolute;
    background-color:#2a80b9;
    color:#fff;
    font-size:14px;
    width:70px;
    text-align:center;
    line-height:30px;
    top:35px;
    right:10px
}
.unmid .log .fra .fra_tip table .untbbt .show1 .unli2 ol li.o3 a:hover {
    background-color:#00960b
}
.unmid .log .fra .fra_tip table .untbbt .show2 {
    position:absolute;
    top:0;
    left:0;
    display:none;
    width:100%;
    height:100%
}
.unmid .log .fra .fra_tip table .untbbt .show2 li span {
    display:block;
    padding:10px 10px 0 10px;
    color:#787878;
    font-size:14px;
    line-height:28px;
    margin-top:10px;
    text-indent:2em
}
.unmid .log .fra .fra_tip span.fra_tiptt {
    display:block;
    padding:0 0 10px 0;
    font-weight:bold;
    border-bottom:#bbb solid 1px;
    position:relative;
    line-height:22px
}
.unmid .log .fra .fra_tip span.fra_tiptt a {
    position:absolute;
    right:0;
    width:22px;
    text-align:center
}
.unmid .log .fra .fra_tip span.fra_tiptt a:hover {
    background-color:#e74b3d;
    color:#fff
}
.unmid .log .fra .fra_tip .cordnum {
    background-color:#d9e1ea;
    margin-top:15px;
    padding:10px;
    font-size:14px;
    line-height:30px;
    position:relative
}
.unmid .log .fra .fra_tip .cordnum span {
    display:block;
    padding-right:20px;
    position:relative;
    z-index:2
}
.unmid .log .fra .fra_tip .cordnum b {
    padding-right:20px;
    position:relative;
    z-index:2
}
.unmid .log .fra .fra_tip .cordnum b.yes {
    color:#5b8305
}
.unmid .log .fra .fra_tip .cordnum b.no {
    color:#e74b3d
}
.unmid .log .fra .fra_tip .cordnum a {
    background-color:#3f8ee3;
    color:#fff;
    padding:3px 5px;
    white-space:nowrap;
    position:relative;
    z-index:2
}
.unmid .log .fra .fra_tip .cordnum img {
    position:absolute;
    right:10px;
    bottom:10px;
    width:80px;
    height:90px;
    z-index:1
}
.unnet {
    width:100%
}
.unnet .unnet_tt {
    text-align:center;
    line-height:45px;
    background-color:#0a76a4;
    color:#fff
}
.unnet .unnet_ot {
    width:960px;
    margin:auto;
}
.unnet .unnet_ot .ot {
    width:1100px
}
.unnet .unnet_ot .ot .ot_item {
    width:200px;
    float:left;
    padding-right:53px
}
.unnet .unnet_ot .ot .ot_item .ot_img {
    width:200px;
    height:160px
}
.unnet .unnet_ot .ot .ot_item .img1 {
    background-position:0 -70px
}
.unnet .unnet_ot .ot .ot_item .img2 {
    background-position:-200px -70px
}
.unnet .unnet_ot .ot .ot_item .img3 {
    background-position:-400px -70px
}
.unnet .unnet_ot .ot .ot_item .img4 {
    background-position:-600px -70px
}
.unnet .unnet_ot .ot .ot_item .ot_tte {
    display:block;
    text-align:center;
    color:#2689bf
}
.unnet .unnet_ot .ot .ot_item .ot_txt {
    display:block;
    text-indent:32px;
    color:#959faf;
    font-size:14px;
    margin:15px 0 25px 0
}
.unfot {
    width:100%;
    height:66px;
    background-color:#188397;
    color:#fff;
    padding:32px 0
}
.unfotf {
    width:960px;
    height:100%;
    margin:auto;
    position:relative
}
.unfotf .left {
    width:100%;
    float:left;
    height:22px;
    line-height:22px;
}
.unfotf .left li {
    float:left;
    margin-right:20px
}
.unfotf .left li a,
.unfotf ul li span {
    color:#83c1cd;
    font-size:12px
}
.unfotf .right {
    position:absolute;
    top:0;
    right:0
}
.unfotf .right li {
    float:right;
    line-height:66px;
    margin-left:10px
}
.unfotf .right li img {
    height:40px
}
.unfj {
    width:960px;
    margin:auto
}
.unfj .unfj_l {
    float:left;
    width:290px;
    padding-bottom:20px;
    padding-top:10px
}
.unfj .unfj_r {
    float:right;
    width:650px;
    padding-bottom:20px;
    padding-top:10px
}
.unfj_ser {
    padding-top:10px;
    font-size:14px
}
.unfj_ser span {
    padding-right:40px;
    vertical-align:bottom;
    color:#959faf;
    display:block;
    margin:5px 0 10px 0
}
.unfj_ser span b {
    font-size:26px;
    font-style:italic;
    font-weight:bold;
    color:#2689bf
}
.unfj_ser span a {
}
.unfj_ser span a img {
    vertical-align:baseline
}
.unfj_new {
    font-size:14px;
    padding-top:10px
}
.unfj_new li {
    display:block;
    padding:5px 0
}
.unfj_new li a {
    display:block;
    line-height:30px
}
.unfj_new li a span {
    float:left;
    white-space:nowrap;
    color:#959faf;
    width:550px
}
.unfj_new li a b {
    float:right;
    font-size:12px;
    color:#999
}
.fra_title {
    width:100%;
    border-bottom:#ddd solid 1px;
    height:40px;
    position:relative;
    z-index:1
}
.fra_title span {
    float:left;
    line-height:40px;
    height:40px;
    border-bottom:#2689bf solid 1px;
    color:#2689bf
}
.fra_title span a {
    position:absolute;
    right:0;
    top:0;
    line-height:40px;
    color:#636b77;
    font-size:14px
}
.fra_title .ico_service {
    display:block;
    width:20px;
    height:20px;
    background-position:-170px 0;
    float:left;
    margin-top:10px;
    margin-right:4px
}
.fra_title .ico_news {
    display:block;
    width:20px;
    height:20px;
    background-position:-190px 0;
    float:left;
    margin-top:10px;
    margin-right:4px
}
.fra_title .ico_time {
    display:block;
    width:20px;
    height:20px;
    background-position:-210px 0;
    float:left;
    margin-top:10px;
    margin-right:4px
}
.fra_title .ico_usico {
    display:block;
    width:20px;
    height:20px;
    background-position:-390px 0;
    float:left;
    margin-top:12px;
    margin-right:4px
}
.fra_title .ico_lpbf {
    display:block;
    width:20px;
    height:20px;
    background-position:-470px 0;
    float:left;
    margin-top:10px;
    margin-right:4px
}
.fra_title .ico_examxz {
    display:block;
    width:20px;
    height:20px;
    background-position:-270px 0;
    float:left;
    margin-top:12px;
    margin-right:4px
}
.fra_title .ico_shunx {
    display:block;
    width:20px;
    height:20px;
    background-position:-290px 0;
    float:left;
    margin-top:12px;
    margin-right:4px
}
.fra_title .ico_zjie {
    display:block;
    width:20px;
    height:20px;
    background-position:-310px 0;
    float:left;
    margin-top:12px;
    margin-right:4px
}
.fra_title .ico_wrong {
    display:block;
    width:20px;
    height:20px;
    background-position:-330px 0;
    float:left;
    margin-top:12px;
    margin-right:4px
}
.fra_title .ico_userinfo {
    display:block;
    width:20px;
    height:20px;
    background-position:-430px 0;
    float:left;
    margin-top:12px;
    margin-right:4px
}
.fra_title .ico_timeinfo {
    display:block;
    width:20px;
    height:20px;
    background-position:-410px 0;
    float:left;
    margin-top:12px;
    margin-right:4px
}
.fra_title .ico_psw {
    display:block;
    width:20px;
    height:20px;
    background-position:-450px 0;
    float:left;
    margin-top:12px;
    margin-right:4px
}
.fra_title .ico_404 {
    display:block;
    width:20px;
    height:20px;
    background-position:-550px -20px;
    float:left;
    margin-top:12px;
    margin-right:4px
}
.inmenu {
    width:100%;
    background-color:#1470a3;
    height:48px;
    border-top:#1a5d81 solid 1px;
    border-bottom:#1a5d81 solid 1px
}
.inmenu ul {
    width:960px;
    margin:auto
}
.inmenu ul li {
    float:left;
    height:48px;
    line-height:48px;
    position:relative;
    z-index:99999
}
.inmenu ul li a {
    display:block;
    height:100%;
    color:#d7ecf9;
    padding:0 20px;
    font-size:14px
}
.inmenu ul li a.on,
.inmenu ul li a:hover {
    background-color:#1a5d81
}
.inmenu ul li a b {
    float:left;
    width:20px;
    height:20px;
    margin:14px 5px 0 0
}
.inmenu ul li a .ico1 {
    background-position:-230px 0
}
.inmenu ul li a.on .ico1,
.inmenu ul li a:hover .ico1 {
    background-position:-230px -20px
}
.inmenu ul li a .ico2 {
    background-position:-250px 0
}
.inmenu ul li a.on .ico2,
.inmenu ul li a:hover .ico2 {
    background-position:-250px -20px
}
.inmenu ul li a .ico3 {
    background-position:-270px 0
}
.inmenu ul li a.on .ico3,
.inmenu ul li a:hover .ico3 {
    background-position:-270px -20px
}
.inmenu ul li a .ico4 {
    background-position:-370px 0
}
.inmenu ul li a.on .ico4,
.inmenu ul li a:hover .ico4 {
    background-position:-370px -20px
}
.inmenu ul li a .ico4_1 {
    background-position:-290px 0
}
.inmenu ul li a.on .ico4_1,
.inmenu ul li a:hover .ico4_1 {
    background-position:-290px -20px
}
.inmenu ul li a .ico4_2 {
    background-position:-310px 0
}
.inmenu ul li a.on .ico4_2,
.inmenu ul li a:hover .ico4_2 {
    background-position:-310px -20px
}
.inmenu ul li a .ico4_3 {
    background-position:-330px 0
}
.inmenu ul li a.on .ico4_3,
.inmenu ul li a:hover .ico4_3 {
    background-position:-330px -20px
}
.inmenu ul li a .ico5 {
    background-position:-390px 0
}
.inmenu ul li a.on .ico5,
.inmenu ul li a:hover .ico5 {
    background-position:-390px -20px
}
.inmenu ul li a .ico5_1 {
    background-position:-410px 0
}
.inmenu ul li a.on .ico5_1,
.inmenu ul li a:hover .ico5_1 {
    background-position:-410px -20px
}
.inmenu ul li a .ico5_2 {
    background-position:-430px 0
}
.inmenu ul li a.on .ico5_2,
.inmenu ul li a:hover .ico5_2 {
    background-position:-430px -20px
}
.inmenu ul li a .ico5_3 {
    background-position:-450px 0
}
.inmenu ul li a.on .ico5_3,
.inmenu ul li a:hover .ico5_3 {
    background-position:-450px -20px
}
.inmenu ul li a .ico0 {
    background-position:-350px 0
}
.inmenu ul li a.on .ico0,
.inmenu ul li a:hover .ico0 {
    background-position:-350px -20px
}
.inmenu ul ul {
    width:100%;
    position:absolute;
    left:0;
    top:48px;
    z-index:100;
    background-color:#1470a3;
    display:none
}
.inmenu ul ul li {
    float:none
}
.inmenu ul li:hover ul {
    display:block
}
.bgl {
    float:left;
    width:270px
}
.bgr {
    float:right;
    width:650px
}
.df_bd {
    width:960px;
    margin:auto;
    padding:15px 0
}
.df_bd:after {
    content:"";
    display:block;
    width:100%;
    height:0;
    clear:both
}
.df_bd .usio {
}
.df_bd .usio .usio_ul li {
    display:block;
    position:relative;
    border-bottom:#dbdada solid 1px;
    padding:15px 0
}
.df_bd .usio .usio_ul .usio_ul_1 span {
    display:block;
    line-height:34px;
    font-size:14px;
    color:#566473
}
.df_bd .usio .usio_ul .usio_ul_1 span b.yes {
    color:#5b8305
}
.df_bd .usio .usio_ul .usio_ul_1 span b.no {
    color:#e74b3d
}
.df_bd .usio .usio_ul .usio_ul_1 a {
    position:absolute;
    right:0;
    top:20px;
    width:90px;
    height:90px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    cursor:default;
    background-color:#fff
}
.df_bd .usio .usio_ul .usio_ul_1 a img {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%
}
.df_bd .usio .usio_ul .usio_ul_1 a i {
    position:absolute;
    z-index:2;
    width:100%;
    text-align:center;
    padding-top:25px;
    color:#2689be;
    top:0;
    left:-90px;
    -moz-transition:left .2s;
    -webkit-transition:left .2s;
    -o-transition:left .2s;
    font-size:14px;
    font-weight:bold
}
.df_bd .usio .usio_ul .usio_ul_1 a img.xueyuan {
    left:0;
    z-index:3;
    -moz-transition:left .2s;
    -webkit-transition:left .2s;
    -o-transition:left .2s
}
.df_bd .usio .usio_ul .usio_ul_2 {
    text-align:center;
    height:65px
}
.df_bd .usio .usio_ul .usio_ul_2 a {
    float:left;
    width:65px;
    height:65px;
    margin-left:18px
}
.df_bd .usio .usio_ul .usio_ul_2 a.usio_ul_2_1 {
    background-position:0 -230px
}
.df_bd .usio .usio_ul .usio_ul_2 a.usio_ul_2_2 {
    background-position:-65px -230px
}
.df_bd .usio .usio_ul .usio_ul_2 a.usio_ul_2_3 {
    background-position:-130px -230px
}
.df_bd .usio .usio_ul .usio_ul_2 a.usio_ul_2_1:hover {
    background-position:0 -295px
}
.df_bd .usio .usio_ul .usio_ul_2 a.usio_ul_2_2:hover {
    background-position:-65px -295px
}
.df_bd .usio .usio_ul .usio_ul_2 a.usio_ul_2_3:hover {
    background-position:-130px -295px
}
.df_bd .usti .tmio {
    height:253px;
    position:relative;
    margin-top:10px;
    font-size:14px
}
.df_bd .usti .tmio .tmio_tb {
    width:100%;
    height:100%
}
.df_bd .usti .tmio .tmio_tb .tmio_td {
    background-color:#50a9d9;
    vertical-align:bottom
}
.df_bd .usti .tmio .tmio_tb .tmio_td td span {
    display:block;
    width:51px;
    height:30px;
    margin:auto
}
.df_bd .usti .tmio .tmio_tb .tmio_td td span.yes {
    background-position:-170px -40px
}
.df_bd .usti .tmio .tmio_tb .tmio_td td span.no {
    background-position:-221px -40px
}
.df_bd .usti .tmio .tmio_tb .tmio_td table {
    width:100%;
    background-color:#ebebeb
}
.df_bd .usti .tmio .tmio_tb .tmio_td table th {
    font-weight:normal;
    background-color:#2689be;
    color:#fff;
    line-height:40px
}
.df_bd .usti .tmio .tmio_tb .tmio_td table th a {
    background-color:#1470a3;
    color:#fff;
    padding:3px 5px
}
.df_bd .usti .tmio .tmio_tb .tmio_td table td {
    text-align:center;
    font-size:12px;
    color:#787878;
    line-height:40px
}
.df_bd .usti .tmio .tmio_tb .tmio_td table tr:nth-child(odd) td {
    background-color:#e0e0e0
}
.df_bd .usti .tmio .tmio_tb .tmio_td .tmio_ca {
    height:59px;
    width:100%;
    background-position:0 -360px;
    position:relative
}
.df_bd .usti .tmio .tmio_tb .tmio_td .tmio_ca .tmio_carbg {
    height:59px;
    position:absolute;
    top:0;
    right:0;
    width:100%;
}
.df_bd .usti .tmio .tmio_tb .tmio_td .tmio_ca .tmio_carbg .tmio_car {
    width:70px;
    height:25px;
    position:absolute;
    top:30px;
    left:0;
    z-index:3
}
.df_bd .usti .tmio .tmio_tb .tmio_td .tmio_ca .tmio_carbg .tmio_card {
    height:59px;
    position:absolute;
    background-position:0 -419px;
    top:0;
    right:0;
    margin-left:70px;
    width:650px;
    z-index:2
}
.df_bd .usks {
}
.df_bd .usks .news {
    padding-top:20px;
    font-size:14px
}
.df_bd .usks .news li {
    display:block;
    margin-bottom:25px
}
.df_bd .usks .news li a {
    display:block;
    white-space:nowrap;
    text-overflow:ellipsis;
    color:#2689be
}
.df_bd .usks .news li span {
    color:#7c7c7c;
    font-size:12px;
    display:block;
    padding:0 20px;
    position:relative;
    padding-top:5px;
    white-space:nowrap;
}
.df_bd .usks .news li span i {
    position:absolute;
    left:0;
    top:2px;
    color:#2689be;
    font-size:30px;
    font-weight:bold
}
.df_bd .usks .news li span b {
    position:absolute;
    right:0;
    top:2px;
    color:#2689be;
    font-size:30px;
    font-weight:bold
}
.df_bd .us_lxfs {
    background-color:#e8eff3;
    padding:20px
}
.df_bd .us_lxfs b {
    display:block;
    color:#0e9800;
    background-position:-904px 0;
    height:50px;
    line-height:50px;
    padding-left:60px;
    font-weight:bold;
    font-size:20px;
    white-space:nowrap
}
.df_bd .us_lxfs .zxkf {
    padding-top:15px;
    font-size:14px
}
.df_bd .us_lxfs .zxkf span {
    float:left
}
.df_bd .us_lxfs .zxkf a {
    float:left;
    margin:10px 20px 0 0
}
.df_bd .ussp .ussp_to {
    width:100%;
    padding-bottom:15px
}
.df_bd .ussp .ussp_to ul {
    width:700px
}
.df_bd .ussp .ussp_to ul li {
    width:202px;
    height:195px;
    margin:22px 22px 0 0;
    float:left;
}
.df_bd .ussp .ussp_to ul li a {
    display:block;
    width:100%;
    height:100%;
    position:relative
}
.df_bd .ussp .ussp_to ul li a img {
    width:100%;
    height:100%
}
.df_bd .ussp .ussp_to ul li a span {
    position:absolute;
    width:100%;
    height:100%;
    background-color:#000;
    bottom:0;
    left:0;
    filter:alpha(opacity=75);
    -moz-opacity:.75;
    -khtml-opacity:.75;
    opacity:.75;
    -moz-transition:left .2s;
    -webkit-transition:all .2s;
    -o-transition:all .2s
}
.df_bd .ussp .ussp_to ul li a span b {
    color:#fff;
    font-size:12px;
    display:block;
    padding-left:10px;
    line-height:30px;
    display:none;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis
}
.df_bd .ussp .ussp_to ul li a span i {
    position:absolute;
    width:30px;
    height:30px;
    background-position:-271px -40px;
    bottom:82px;
    left:86px
}
.df_bd .ussp .ussp_to ul li a:hover span {
    height:30px
}
.df_bd .ussp .ussp_to ul li a:hover span b {
    display:block
}
.df_bd .ussp .ussp_to ul li a:hover span i {
    background-position:-301px -40px
}
.lp_bd {
    padding-top:30px;
    font-size:14px
}
.lp_bd .div960 {
}
.lp_bd .df_l {
    height:580px;
    color:#606060;
    position:relative;
    overflow:auto;
    float:left;
    width:290px;
    margin:10px 0;
    background-color:#f1f3ef
}
.lp_bd .df_r {
    float:right;
    width:650px;
    margin:10px 0;
    height:580px
}
.lp_bd .df_l .lplist {
}
.olm {
    display:block;
    font-size:12px
}
.olm li {
    display:block;
    overflow:hidden
}
.olm li ul {
    display:none
}
.olm li ul.on {
    display:block
}
.olm li a,
.olm li span {
    display:block;
    height:40px;
    line-height:40px;
    border-bottom:#ddd solid 1px;
    cursor:pointer;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    padding-right:25px;
    padding-left:10px;
    position:relative;
    background-color:#e6e6e6
}
.olm li ul a,
.olm li ul span {
    background-color:#fff
}
.olm li ul ul a,
.olm li ul ul span {
    background-color:#eff9ff;
    border-color:#def2ff
}
.olm li a b {
    position:absolute;
    width:20px;
    height:40px;
    right:0;
    top:0;
}
.olm li span b {
    position:absolute;
    width:20px;
    height:40px;
    right:0;
    top:0;
}
.olm li a {
    color:#1f91d1
}
.olm li ul a,
.olm li ul span {
    padding-left:20px
}
.olm li ul ul a,
.olm li ul ul span {
    padding-left:30px
}
.olm li span.on,
.olm li span:hover {
    background-color:#278fce;
    color:#fff;
    border-color:#278fce
}
.olm li ul span.on,
.olm li ul span:hover {
    background-color:#abd7f2;
    color:#278ca6;
    border-color:#abd7f2
}
.olm li span.on b {
    background-position:-650px -400px
}
.olm li a.on,
.olm li a:hover {
    color:#fff;
    background-color:#9bca27;
    border-color:#9bca27
}
.olm li a.on b,
.olm li a:hover b {
    background-position:-670px -400px
}
.lp_bd .lp_tip {
    padding:0 10px 0 38px;
    position:relative;
    height:40px;
    line-height:40px;
    border-radius:8px 8px 0 0;
    -moz-border-radius:8px 8px 0 0;
    -webkit-border-radius:8px 8px 0 0
}
.lp_bd .lp_tip b {
    position:absolute;
    width:30px;
    height:30px;
    left:5px;
    top:5px
}
.lp_bd .lp_tip.normal {
    background-color:#cbe7ff;
    color:#346b96
}
.lp_bd .lp_tip.tipok b {
    background-position:0 0
}
.lp_bd .lp_tip.tipok {
    background-color:#c5e392;
    color:#4e6e1b
}
.lp_bd .lp_tip.tipok b {
    background-position:-30px 0
}
.lp_bd .lp_tip.tipno {
    background-color:#fff4d3;
    color:#a4752b
}
.lp_bd .lp_tip.tipno b {
    background-position:-60px 0
}
.lp_bd .lp_tip.tipwr {
    background-color:#ff9d9d;
    color:#81333c
}
.lp_bd .lp_tip.tipwr b {
    background-position:-90px 0
}
.lp_bd .lp_sp {
    width:100%;
    background-color:#f1f3ef;
    height:540px;
}
.lp_menu span {
    float:right
}
.lp_menu em {
    position:absolute;
    width:13px;
    height:11px;
    background-position:-330px -40px;
    bottom:-2px;
    left:56px
}
.lp_menu a {
    float:left;
    line-height:40px;
    margin-right:40px
}
.lp_menu a.on {
    font-weight:bold
}
.examindex,
.normal {
    padding:20px 0
}
.examindex .div960 .div960 {
    border-bottom:#ddd solid 1px;
    padding:20px 0
}
.normal .div960 .div960 {
    padding:20px 0
}
.examindex .lst {
    padding-left:360px;
    position:relative
}
.examindex .lst em {
    position:absolute;
    left:0;
    top:0;
    width:320px;
    height:195px
}
.examindex .lst em strong {
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    font-weight:normal;
    font-style:normal;
    color:#fff;
    line-height:40px;
    text-indent:14px;
    font-size:14px
}
.examindex .lst1 em {
}
.examindex .lst2 em {
}
.examindex .lst i {
    font-size:26px;
    font-weight:bold;
    color:#566473;
    display:block;
    padding-bottom:10px
}
.examindex .lst span {
    display:block;
    font-size:14px;
    color:#a3a3a3;
    margin-top:10px
}
.examindex .lst a {
    float:right;
    background-color:#268ac0;
    color:#fff;
    line-height:70px;
    width:260px;
    text-align:center;
    margin-top:20px;
    font-size:24px
}
.examindex .lst a b {
    font-size:14px
}
.examindex .lst a:hover {
    background-color:#00960b
}
.zjlist {
    padding-top:20px;
    border-bottom:#ddd solid 1px
}
.zjlist ul {
}
.zjlist li {
    display:inline-block;
    *display:inline;
    *zoom:1;
    font-size:12px;
    letter-spacing:normal;
    *text-align:center;
    *margin-right:20px
}
.zjlist li a {
    display:block;
    padding:10px 10px;
    margin-bottom:20px;
    letter-spacing:normal;
    border:#ddd solid 1px
}
.zjlist li a.on,
.zjlist li a:hover {
    background-color:#abd7f2;
    color:#278ca6;
    border-color:#278fce
}
.userifd {
}
.userifd .div960 .div960 {
    padding-top:0
}
.userifd .ttle {
    border-bottom:#ddd solid 1px;
    padding:15px 0 15px 0;
    color:#2689bf;
    font-size:14px;
    font-weight:bold
}
.userifd .xtlist,
.userifd .zhlist {
    width:100%;
    margin-top:15px;
    font-size:14px;
    border-bottom:#ddd solid 1px
}
.userifd .xtlist td {
    vertical-align:top;
    color:#666;
    padding-bottom:15px
}
.userifd .zhlist td {
    vertical-align:top;
    color:#333;
    padding-bottom:15px
}
.userifd .xtlist td span {
    display:block;
    line-height:34px;
    float:left;
    white-space:nowrap;
    margin-right:30px
}
.userifd .xtlist td img {
    width:100px;
    height:100px
}
.userifd .xtlist td span b.no {
    color:#e74b3d
}
.userifd .xtlist td span b.yes {
    color:#5b8305
}
.userifd .xtlist td i {
    font-size:12px;
    color:#999;
    display:block;
    clear:both;
    padding-top:10px
}
.userifd .zhlist div {
    margin:10px 0 20px 0
}
.userifd .zhlist div span {
}
.userifd .zhlist div input {
    width:230px;
    font-size:14px;
    color:#acb5a0;
    padding:0 10px;
    height:40px;
    line-height:40px\9;
    border:#ddd solid 1px;
    position:relative;
    z-index:1;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px
}
.userifd .zhlist div b {
    display:inline-block;
    *display:inline;
    *zoom:1;
    width:20px;
    height:20px;
    margin:0 5px;
    vertical-align:middle;
    background-repeat:no-repeat
}
.userifd .zhlist div b.zc {
    background-position:-490px 40px
}
/*.userifd .zhlist div b.rt {*/
/*    background-position:-510px -20px*/
/*}*/
/*.userifd .zhlist div b.cw {*/
/*    background-position:-550px -20px*/
/*}*/
/*.userifd .zhlist div i {*/
/*    font-size:12px;*/
/*    color:#999*/
/*}*/
/*.userifd .zhlist div a {*/
/*    display:inline-block;*/
/*    *display:inline;*/
/*    *zoom:1;*/
/*    background-color:#268ac0;*/
/*    color:#fff;*/
/*    padding:10px 25px;*/
/*    margin-right:30px*/
/*}*/
/*.findpass {*/
/*    border-top:#ddd solid 1px;*/
/*    padding-top:40px*/
/*}*/
/*.repass .reput,*/
/*.findpass .reput {*/
/*    padding:10px 0 20px 0*/
/*}*/
/*.repass .reput span,*/
/*.findpass .reput span {*/
/*    font-size:14px;*/
/*    color:#333;*/
/*    float:left;*/
/*    line-height:42px;*/
/*    width:80px;*/
/*    text-align:right*/
/*}*/
/*.repass .reput input,*/
/*.findpass .reput input {*/
/*    width:230px;*/
/*    font-size:14px;*/
/*    color:#acb5a0;*/
/*    padding:0 10px;*/
/*    height:40px;*/
/*    line-height:40px\9;*/
/*    border:#ddd solid 1px;*/
/*    position:relative;*/
/*    z-index:1;*/
/*    border-radius:5px;*/
/*    -moz-border-radius:5px;*/
/*    -webkit-border-radius:5px*/
/*}*/
/*.repass .reput b,*/
/*.findpass .reput b {*/
/*    display:inline-block;*/
/*    *display:inline;*/
/*    *zoom:1;*/
/*    width:20px;*/
/*    height:20px;*/
/*    margin:0 5px;*/
/*    vertical-align:middle;*/
/*    background-repeat:no-repeat*/
/*}*/
/*.repass .reput b.zc,*/
/*.findpass .reput b.zc {*/
/*    background-position:-490px 40px*/
/*}*/
/*.repass .reput b.rt,*/
/*.findpass .reput b.rt {*/
/*    background-position:-510px -20px*/
/*}*/
/*.repass .reput b.cw,*/
/*.findpass .reput b.cw {*/
/*    background-position:-550px -20px*/
/*}*/
/*.repass .reput i,*/
/*.findpass .reput i {*/
/*    font-size:12px;*/
/*    color:#999*/
/*}*/
/*.repass .reput a,*/
/*.findpass .reput a {*/
/*    display:inline-block;*/
/*    *display:inline;*/
/*    *zoom:1;*/
/*    background-color:#268ac0;*/
/*    color:#fff;*/
/*    padding:10px 25px;*/
/*    margin-right:30px*/
/*}*/
/*.timeinfo {*/
/*    padding:0*/
/*}*/
/*.timeinfo .fra_title {*/
/*    margin-top:20px*/
/*}*/
/*.timeinfo .div960 .div960 {*/
/*    border-bottom:#ddd solid 1px;*/
/*    padding-top:0*/
/*}*/
/*.timeinfo table {*/
/*    margin-top:20px*/
/*}*/
/*.timeinfo .timetb,*/
/*.timeinfo .timejd {*/
/*    width:100%;*/
/*    background-color:#ebebeb;*/
/*    font-size:14px*/
/*}*/
/*.timeinfo .timetb th,*/
/*.timeinfo .timejd th {*/
/*    background-color:#2689be;*/
/*    color:#fff;*/
/*    font-weight:normal;*/
/*    line-height:56px*/
/*}*/
/*.timeinfo .timetb td,*/
/*.timeinfo .timejd td {*/
/*    text-align:center;*/
/*    line-height:56px;*/
/*    vertical-align:middle;*/
/*    font-size:12px;*/
/*    color:#797878*/
/*}*/
/*.timeinfo .timetb tr,*/
/*.timeinfo .timejd tr {*/
/*    border-bottom:#ddd solid 1px*/
/*}*/
/*.timeinfo .timetb td .backbg {*/
/*    display:block;*/
/*    width:51px;*/
/*    height:30px;*/
/*    margin:auto*/
/*}*/
/*.timeinfo .timetb td .backbg.yes {*/
/*    background-position:-170px -40px*/
/*}*/
/*.timeinfo .timetb td .backbg.no {*/
/*    background-position:-221px -40px*/
/*}*/
/*.timeinfo .timejd tr td a {*/
/*    padding:0 5px 0 20px;*/
/*    position:relative;*/
/*    display:block;*/
/*    line-height:20px;*/
/*    cursor:default*/
/*}*/
/*.timeinfo .timejd tr td a b {*/
/*    position:absolute;*/
/*    width:20px;*/
/*    height:20px;*/
/*    line-height:normal;*/
/*    top:0;*/
/*    left:5px;*/
/*    background-repeat:no-repeat*/
/*}*/
/*.timeinfo .timejd tr.learn {*/
/*    background-color:#c7e794*/
/*}*/
/*.timeinfo .timejd tr.learn td,*/
/*.timeinfo .timejd tr.learn td a {*/
/*    color:#45680a*/
/*}*/
/*.timeinfo .timejd tr.learn td a b {*/
/*    background-position:-490px -40px*/
/*}*/
/*.timeinfo .timejd tr.upyes {*/
/*    background-color:#ebebeb*/
/*}*/
/*.timeinfo .timejd tr.upyes td,*/
/*.timeinfo .timejd tr.upyes td a {*/
/*    color:#797878*/
/*}*/
/*.timeinfo .timejd tr.upyes td a b {*/
/*    background-position:-510px -40px*/
/*}*/
/*.timeinfo .timejd tr.upno {*/
/*    background-color:#fff1ca*/
/*}*/
/*.timeinfo .timejd tr.upno td,*/
/*.timeinfo .timejd tr.upno td a {*/
/*    color:#a57427;*/
/*    cursor:auto*/
/*}*/
/*.timeinfo .timejd tr.upno td a b {*/
/*    background-position:-530px 0*/
/*}*/
/*.service .unfj_ser {*/
/*    padding-right:470px;*/
/*    padding-bottom:150px*/
/*}*/
/*.service .unfj_ser span {*/
/*    margin-top:20px;*/
/*    padding:5px 0*/
/*}*/
/*.pg404 .div960 .div960 {*/
/*    padding-top:400px;*/
/*    padding-bottom:0*/
/*}*/
/*.pg500 .div960 .div960 {*/
/*    padding-top:400px;*/
/*    padding-bottom:0*/
/*}*/
/*.pg404 .div960 .div960 a,*/
/*.pg500 .div960 .div960 a {*/
/*    background-color:#0a76a4;*/
/*    color:#fff;*/
/*    float:left;*/
/*    padding:10px 20px;*/
/*    margin-right:50px*/
/*}*/
/*.pg404 .div960 .fra_title span,*/
/*.pg500 .div960 .fra_title span {*/
/*    color:#d2606f;*/
/*    border-color:#d2606f*/
/*}*/
/*.anews {*/
/*    width:100%;*/
/*    height:100%;*/
/*    overflow:auto;*/
/*    font-size:14px*/
/*}*/
/*.anews h1 {*/
/*    display:block;*/
/*    margin:0;*/
/*    text-align:center;*/
/*    font-weight:normal;*/
/*    line-height:22px;*/
/*    font-size:16px;*/
/*    padding:10px 20px;*/
/*    border-bottom:#ddd solid 1px;*/
/*    position:relative*/
/*}*/
/*.anews h1 b {*/
/*    font-size:12px;*/
/*    position:absolute;*/
/*    right:20px;*/
/*    top:10px;*/
/*    color:#999*/
/*}*/
/*.anews .cont {*/
/*    padding:10px 20px*/
/*}*/
/*.anews .cont img {*/
/*    display:block;*/
/*    width:60%;*/
/*    margin:auto;*/
/*    vertical-align:middle*/
/*}*/
/*.cond {*/
/*    width:960px;*/
/*    min-height:20px;*/
/*    height:auto!important;*/
/*    overflow:hidden;*/
/*    margin:auto;*/
/*    margin-top:10px;*/
/*    font-size:12px*/
/*}*/
/*.cond_btty {*/
/*    position:relative;*/
/*    width:100%;*/
/*    height:50px;*/
/*    border-bottom:#cdcdcd solid 1px;*/
/*    float:left;*/
/*    margin-bottom:10px*/
/*}*/
/*.cond_btty div {*/
/*    position:absolute;*/
/*    height:49px;*/
/*    line-height:49px;*/
/*    font-size:15px;*/
/*    color:#136d9e;*/
/*    border-bottom:#2689be solid 1px;*/
/*    margin-top:1px;*/
/*    float:left;*/
/*    text-indent:3px*/
/*}*/
/*.cond_btty div span {*/
/*    display:block;*/
/*    width:30px;*/
/*    height:30px;*/
/*    float:left;*/
/*    margin-top:10px;*/
/*    background-repeat:no-repeat*/
/*}*/
/*.cond_btty a {*/
/*    float:right;*/
/*    line-height:49px;*/
/*    text-decoration:none;*/
/*    color:#b7b7b7;*/
/*    font-size:12px;*/
/*    margin-left:30px*/
/*}*/
/*.cond_btty a strong {*/
/*    font-size:14px;*/
/*    margin:8px 0;*/
/*    border-radius:5px;*/
/*    color:#555;*/
/*    font-weight:normal*/
/*}*/
/*.cond_btty .cond_bttyst_on {*/
/*    font-weight:bold*/
/*}*/
/*.kaoshi {*/
/*    width:960px;*/
/*    height:600px;*/
/*    overflow:hidden;*/
/*    margin-top:10px;*/
/*    color:#404040*/
/*}*/
/*.kaoshi strong {*/
/*    display:block;*/
/*    height:20px;*/
/*    position:absolute;*/
/*    padding:0 5px;*/
/*    left:15px;*/
/*    background-color:#fff;*/
/*    color:#9e0c0c*/
/*}*/
/*.kaoshi_0,*/
/*.kaoshi_1,*/
/*.kaoshi_2,*/
/*.kaoshi_3,*/
/*.kaoshi_4,*/
/*.kaoshi_5,*/
/*.kaoshi_6 {*/
/*    float:left;*/
/*    position:relative*/
/*}*/
/*.kaoshi_0_d,*/
/*.kaoshi_1_d,*/
/*.kaoshi_2_d,*/
/*.kaoshi_3_d,*/
/*.kaoshi_4_d,*/
/*.kaoshi_5_d,*/
/*.kaoshi_6_d {*/
/*    margin:auto;*/
/*    margin-top:8px;*/
/*    border:#ccc solid 1px*/
/*}*/
/*.kaoshi_0 {*/
/*    width:150px;*/
/*    height:60px*/
/*}*/
/*.kaoshi_0_d {*/
/*    width:140px;*/
/*    height:45px*/
/*}*/
/*.kaoshi_0_d span {*/
/*    display:block;*/
/*    color:#0e0eff;*/
/*    text-align:center;*/
/*    margin-top:14px*/
/*}*/
/*.kaoshi_1 {*/
/*    width:450px;*/
/*    height:315px;*/
/*    float:right*/
/*}*/
/*.kaoshi_1_d {*/
/*    width:440px;*/
/*    height:300px*/
/*}*/
/*.kaoshi_1_d span {*/
/*    display:block;*/
/*    width:420px;*/
/*    margin:10px auto auto auto;*/
/*    font-size:14px*/
/*}*/
/*.xuanx {*/
/*    width:420px;*/
/*    position:absolute;*/
/*    bottom:15px;*/
/*    left:20px*/
/*}*/
/*.xuanx span {*/
/*    width:auto;*/
/*    height:30px;*/
/*    line-height:30px;*/
/*    font-size:16px*/
/*}*/
/*.xuanx span i {*/
/*    font-style:normal;*/
/*    color:#00960b*/
/*}*/
/*.xuanx span a {*/
/*    text-decoration:none;*/
/*    color:#404040;*/
/*    border:#909090 solid 1px;*/
/*    font-size:14px;*/
/*    padding:2px 15px;*/
/*    margin:auto 3px*/
/*}*/
/*.xuanx span a:hover {*/
/*    background-color:#ccc*/
/*}*/
/*.kaoshi_2 {*/
/*    width:360px;*/
/*    height:375px;*/
/*    float:right*/
/*}*/
/*.kaoshi_2_d {*/
/*    width:350px;*/
/*    height:360px*/
/*}*/
/*#condnum {*/
/*    margin:0;*/
/*    padding:0;*/
/*    list-style:none;*/
/*    display:block;*/
/*    width:342px;*/
/*    height:342px;*/
/*    border:#909090 solid 1px;*/
/*    margin:13px auto auto auto*/
/*}*/
/*#condnum li {*/
/*    display:inline;*/
/*    float:left;*/
/*    width:30px;*/
/*    height:30px;*/
/*    overflow:hidden;*/
/*    border:#909090 solid 1px;*/
/*    margin:2px auto auto 2px;*/
/*    line-height:15px;*/
/*    color:#3b3b3b;*/
/*    cursor:pointer*/
/*}*/
/*#condnum .numlion {*/
/*    background-color:#02cac9*/
/*}*/
/*#condnum .numlidor {*/
/*    background-color:#cff*/
/*}*/
/*#condnum .numlidow {*/
/*    background-color:#ed9f9f*/
/*}*/
/*#condnum li b {*/
/*    display:block;*/
/*    font-weight:normal*/
/*}*/
/*#condnum li i {*/
/*    display:block;*/
/*    width:30px;*/
/*    overflow:hidden;*/
/*    font-style:normal;*/
/*    letter-spacing:-1px;*/
/*    text-align:center*/
/*}*/
/*#btnAbcd a {*/
/*    cursor:pointer*/
/*}*/
/*#funcBtn a {*/
/*    cursor:pointer*/
/*}*/
/*.kaoshi_3 {*/
/*    width:150px;*/
/*    height:255px*/
/*}*/
/*.kaoshi_3_d {*/
/*    width:140px;*/
/*    height:240px*/
/*}*/
/*.kaoshi_3_d span {*/
/*    display:block;*/
/*    width:120px;*/
/*    height:27px;*/
/*    margin:auto;*/
/*    line-height:27px;*/
/*    overflow:hidden*/
/*}*/
/*.kaoshi_3_d_tx {*/
/*    display:block;*/
/*    width:100px;*/
/*    height:100px;*/
/*    border:none;*/
/*    outline:none;*/
/*    margin:12px auto auto auto*/
/*}*/
/*.kaoshi_4 {*/
/*    width:150px;*/
/*    height:60px*/
/*}*/
/*.kaoshi_4_d {*/
/*    width:140px;*/
/*    height:45px*/
/*}*/
/*.kaoshi_4_d span {*/
/*    display:block;*/
/*    text-align:center;*/
/*    margin-top:10px;*/
/*    font-size:20px;*/
/*    color:red*/
/*}*/
/*.kaoshi_5 {*/
/*    width:450px;*/
/*    height:60px*/
/*}*/
/*.kaoshi_5 a {*/
/*    display:inline;*/
/*    float:left;*/
/*    text-decoration:none;*/
/*    color:#404040;*/
/*    border:#909090 solid 1px;*/
/*    font-size:14px;*/
/*    padding:2px 10px;*/
/*    margin:18px auto auto 7px*/
/*}*/
/*.kaoshi_5_d {*/
/*    display:inline;*/
/*    width:240px;*/
/*    height:45px;*/
/*    float:left;*/
/*    margin-left:4px*/
/*}*/
/*.kaoshi_5_d span {*/
/*    display:block;*/
/*    width:230px;*/
/*    height:34px;*/
/*    line-height:17px;*/
/*    margin:10px auto auto auto;*/
/*    overflow:hidden*/
/*}*/
/*#examTip .awhystyle {*/
/*    clear:both;*/
/*    display:inline;*/
/*    float:inherit;*/
/*    padding:0;*/
/*    margin:0;*/
/*    border:none;*/
/*    font-size:12px;*/
/*    cursor:pointer;*/
/*    color:#00f;*/
/*    text-decoration:underline*/
/*}*/
/*.kaoshi_6 {*/
/*    width:960px;*/
/*    height:225px*/
/*}*/
/*.kaoshi_6_d {*/
/*    width:950px;*/
/*    height:210px*/
/*}*/
/*.conddb {*/
/*    cursor:pointer;*/
/*    position:relative*/
/*}*/
/*.floatl {*/
/*    left:0*/
/*}*/
/*.floatr {*/
/*    right:0*/
/*}*/
/*.chapterinfo {*/
/*    width:100%;*/
/*    min-height:20px;*/
/*    height:auto!important;*/
/*    overflow:hidden*/
/*}*/
/*.chapterinfo div {*/
/*    width:100%;*/
/*    min-height:20px;*/
/*    height:auto!important;*/
/*    overflow:hidden*/
/*}*/
/*.chapterinfo a {*/
/*    border:1px solid #ccc;*/
/*    color:#333*/
/*}*/
/*.chapterinfo div a {*/
/*    width:30%;*/
/*    padding:5px 10px;*/
/*    display:inline-block;*/
/*    height:25px;*/
/*    line-height:25px;*/
/*    text-align:center;*/
/*    font-size:14px;*/
/*    margin:5px;*/
/*    border-radius:3px;*/
/*    text-decoration:none;*/
/*    overflow:hidden*/
/*}*/
/*.chapterinfo a:hover {*/
/*    background-color:#e7e7e7;*/
/*    border-color:#fff*/
/*}*/
/*#clicktt {*/
/*    font-weight:bold*/
/*}*/
/*.chapters {*/
/*    width:958px;*/
/*    height:428px;*/
/*    float:left;*/
/*    border:#ccc solid 1px;*/
/*    background-color:#fff;*/
/*    color:#505050*/
/*}*/
/*.chaptersif {*/
/*    width:940px;*/
/*    height:410px;*/
/*    margin:auto;*/
/*    margin-top:9px;*/
/*    font-size:16px*/
/*}*/
/*.lx_0 {*/
/*    width:940px;*/
/*    height:100px;*/
/*    float:left*/
/*}*/
/*.lx_1 {*/
/*    width:640px;*/
/*    height:180px;*/
/*    float:left*/
/*}*/
/*.lx_2 {*/
/*    width:300px;*/
/*    height:180px;*/
/*    float:left*/
/*}*/
/*.lx_3 {*/
/*    width:350px;*/
/*    height:120px;*/
/*    float:left;*/
/*    overflow:auto;*/
/*    margin-top:10px;*/
/*    font-size:13px*/
/*}*/
/*.lx_4 {*/
/*    width:590px;*/
/*    height:130px;*/
/*    float:left;*/
/*    margin-top:10px*/
/*}*/
/*#lx_options,*/
/*#lx_func {*/
/*    float:left;*/
/*    width:100%;*/
/*    margin-top:10px;*/
/*    height:40px*/
/*}*/
/*#lx_func {*/
/*    font-size:13px*/
/*}*/
/*#lx_options a,*/
/*#lx_func a {*/
/*    display:inline;*/
/*    width:100px;*/
/*    height:35px;*/
/*    line-height:35px;*/
/*    float:left;*/
/*    text-align:center;*/
/*    border:#ccc solid 1px;*/
/*    margin-left:15px;*/
/*    text-decoration:none;*/
/*    border-radius:3px;*/
/*    cursor:pointer*/
/*}*/
/*#lx_options a {*/
/*    color:#900*/
/*}*/
/*#lx_func a {*/
/*    color:#505050*/
/*}*/
/*#lx_func a input {*/
/*    display:inline;*/
/*    width:40px;*/
/*    height:18px;*/
/*    padding:0 2px;*/
/*    margin:auto 5px;*/
/*    _margin-top:6px;*/
/*    outline:none;*/
/*    border:#198297 solid 1px;*/
/*    text-align:center;*/
/*    color:#198297*/
/*}*/
/*#Tshowtrue {*/
/*    color:#00993a*/
/*}*/
/*#Tshowtrue a {*/
/*    text-decoration:none;*/
/*    color:#00993a;*/
/*    cursor:pointer*/
/*}*/
/*.lx_4 span {*/
/*    display:inline;*/
/*    float:left;*/
/*    margin-left:50px*/
/*}*/
/*.scinf {*/
/*    padding-top:16px;*/
/*    width:100%;*/
/*    color:#a3a3a3;*/
/*    font-size:14px*/
/*}*/
/*.scinf div,*/
/*.scinf ul li,*/
/*.scinf ul {*/
/*    display:inline;*/
/*    white-space:nowrap*/
/*}*/
/*.scinf ul li {*/
/*    padding-right:20px*/
/*}*/
/*.editcartype {*/
/*    padding:0 20px*/
/*}*/
/*.editcartype p {*/
/*    padding:5px 0*/
/*}*/
/*.editcartype p a {*/
/*    display:inline-block;*/
/*    background-color:#ddd;*/
/*    margin:0 5px;*/
/*    padding:5px 10px;*/
/*    cursor:pointer*/
/*}*/
/*.editcartype p a.on {*/
/*    background-color:#1470a3;*/
/*    color:#fff*/
/*}*/
/*a.stuhelp {*/
/*    padding:10px 20px;*/
/*    background-color:#3f8ee3;*/
/*    color:#fff;*/
/*    border-radius:5px;*/
/*    -moz-border-radius:5px;*/
/*    -webkit-border-radius:5px*/
/*}*/
/*a.stuhelp:hover {*/
/*    color:#fff;*/
/*    background-color:#52a731*/
/*}*/
